# ======================= NODE =======================
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# ======================= BUILD =======================
dist/
build/
.angular/

# ======================= ENV =======================
.env
.env.local
.env.development
.env.production

# ======================= IDE =======================
.idea/
.vscode/
*.swp
*.swo

# ======================= OS =======================
.DS_Store
Thumbs.db

# ======================= LOGS =======================
logs/
*.log

# ======================= TEST =======================
coverage/

# ======================= TEMP =======================
tmp/
temp/